:root {
    --header-bottom-cl:#203c8e;
    --main-header-bottom-cl:#f50
}

.nav {
  font-family: var(--font-lato);
  max-width: 1170px;
  padding: 0;
  margin: auto;
}

.containt {
    display: flex;
    align-items: center;
}

.header_bottom {
    height: 40px;
    background-color: var(--header-bottom-cl);
}

.containt a {
    border-right: 1px solid var(--header-bottom-cl);
}

.lnk {
    padding: 0 15px;
    line-height: 40px;
    font-weight: 400;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
}

.active {
    background-color: var(--main-header-bottom-cl);
}

.lnk:hover{
    color: white;
    background-color:var(--main-header-bottom-cl);
}

@media (max-width: 600px) {
    .nav{
        max-width: 100%;
    }
}